@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');

body {
  margin: 0px;
  background-color: black; no-repeat center center fixed;
  background-size: cover;
}
.bg-bottom {
  /*background: rgba(30,215,96,1.35);*/
  background: #263238;
  position: absolute;
  height: 80px;
  width: 950px;
  z-index: 0;
  bottom: 0;
  opacity: 0;
}
.bg-bottom2 {
  /*background: rgba(30,215,96,1.35);*/
  /*background: #1ED760*/;
  background: #fff;
  position: absolute;
  height: 80px;
  width: 950px;
  z-index: 1;
  bottom: 0;
  opacity: 0.05;
}

.blur {
  background-color: black;
  no-repeat center center fixed;
  background-size: cover;
  overflow: hidden;
  filter: blur(15px);
  position: absolute;
  height: 500px;
  width: 950px;
  z-index: -1;
  top: 0;
  opacity: 1;
}

.blur2 {
  background-color: black; no-repeat center center fixed;
  background-size: cover;
  overflow: hidden;
  filter: blur(15px);
  position: absolute;
  height: 500px;
  width: 950px;
  z-index: -1;
  top: 0;
  opacity: 1;
}

.blur-21 {
  background: url('') no-repeat center center fixed;
  background-size: cover;
  overflow: hidden;
  filter: blur(15px);
  position: absolute;
  height: 415px;
  width: 200px;
  z-index: 0;
  top: 0;
}

.blur-22 {
  background: url('') no-repeat center center fixed;
  background-size: cover;
  overflow: hidden;
  filter: blur(15px);
  position: absolute;
  height: 415px;
  width: 200px;
  z-index: 0;
  top: 0;
}

.logo {
  width: 100px;
  margin: 15px 15px 15px 20px;
  position: absolute;
  z-index: 1;
}

.sp-body {
  position: absolute; 
  width: 765px;
  height: 420px;
  background: rgba(38,50,56, 0.75);
  right: 0;
}

.content {
  border: 1px solid #3a4961;
  position: fixed;
  height: 500px;
  width: 950px;
  left: calc(50vw - 475px);
  top: calc(50vh - 250px);
}

p {
  position: fixed;
  z-index: 2;
}

.color {
  background: #fff;
  background-size: cover;
  overflow: hidden;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1;
  opacity: 0.25;
}

.line {
  position: absolute;
  z-index: 2;
  width: 18px;
  height: 20px;
  padding: 7.5px 13px 5px 17px;
  margin-left: 820px;
  margin-top: 0px;
  transition: background 0.35s ease;
  cursor: pointer;
}

.line > line {
  transform: scale(0.8);
}

.line:hover {
  background: rgba(255,255,255,0.15);
}

.cross {
  position: absolute;
  z-index: 2;
  width: 23px;
  margin-left: 867px;
  margin-top: 0px;
  padding: 5px 15px 5px 15px;
  transition: background 0.35s ease;
  cursor: pointer;
}

.cross > path {
  transform: scale(0.9);
}

.cross:hover {
  background: rgba(255,0,0,0.25);
}

.bar {
  width: 950px;
  height: 35px;
  position: absolute;
  z-index: 5;
}

.bar > p {
  color: #fff;
  font-family: Roboto;
  position: absolute;
  margin-top: 8.5px;
  margin-left: 2px;
  font-size: 13px;
  font-weight: 300;
  display: inline-block;
}

.text-1 {
  color: #fff;
  font-family: Roboto;
  position: absolute;
  bottom: 20px;
  left: 90px;
  z-index: 1;
  font-size: 18px;
  font-weight: 300;
  margin: 0px;
}

.text-2 {
  color: #fff;
  font-family: Roboto;
  position: absolute;
  bottom: 6px;
  left: 90px;
  z-index: 1;
  font-size: 12px;
  font-weight: 200;
  margin: 0px;
}

#myTextArea {
  position: absolute;
  z-index: 3;
  bottom: 0;
  border: 0px;
  resize: none;
  width: 938px;
  height: 435px;
  margin: 1px;
  font-family: Verdana;
  padding: 5px;
  font-size: 13px;
  background: rgba(255,255,255,0.65);
  transition: all 0.3s ease;
  outline: none;
}

#myTextArea:focus {
  background: rgba(255,255,255,1);
}

.menu {
  position: absolute;
  z-index: 3;
  width: 948px;
  height: 20px;
  margin: 1px;
  top: 32.5px;
  background: rgba(255,255,255,0.1);
  border-top: 1px solid rgba(255,255,255,0.15);
}

.menubtn {
  font-family: Verdana;
  color: #fff;
  font-size: 11px;
  background: rgba(255,255,255,0.0);
  padding: 3px 6px 3.5px 6px;
  cursor: default;
  transition: background 0.3s ease;
  margin: 0px;
}

.menubtn:hover {
  /*background: rgba(255,255,255,0.10);*/
  background: rgba(33,150,243,0.25);
}

#file {
  margin-left: 2.5px;
}

.submenu {
  position: absolute;
  z-index: 4;
  width: 150px;
  height: 107px;
  background: #eee;
  top: 54px;
  left: 1px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.35);
  display: none;
}

.sm-btn {
  background: rgba(0,0,0,0);
  width: calc(100% - 31px);
  padding: 4.5px 5px 4.5px 20px;
  font-size: 11px;
  font-family: Verdana;
  margin: 3px 3px 0px 3px;
  cursor: default;
  transition: background 0.3s ease;
}

.sm-btn:hover {
  background: #90CAF9;
}

.submenu > hr {
  width: calc(100% - 65px);
  margin: 2.5px 0px 0px 32.5px;
  opacity: 0.5;
}

#myFile {
  z-index: -999;
  pointer-events: none;
  opacity: 0;
}

.loadfilequestion {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.35);
  z-index: 999;
  top: 0;
  perspective: 500px;
  display: none;
}

.savefile {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.35);
  z-index: 999;
  top: 0;
  display: none;
  perspective: 500px;
}

.dialog {
  position: fixed;
  width: 100%;
  height: 200px;
  background: #455A64;
  top: calc(50% - 100px);
  transform: rotateY(35deg) scale(0.9);
  opacity: 0;
  transform-origin: center left;
  transition: all 0.6s ease;
}

.show-dia {
  opacity: 1 !important;
  transform: rotateY(0deg) scale(1) !important;
}

.dia-tit {
  font-family: Roboto;
  font-weight: 300;
  color: #fff;
  font-size: 20px;
  margin-left: calc( 50% - 350px);
}

.btns {
  background: rgba(255,255,255,0);
  position: absolute;
  bottom: 35px;
  right: calc(50% - 350px);
}

.dia-btn {
  padding: 5px 15px 5px 15px;
  margin-right: 5px;
  font-size: 16px;
  color: #fff;
  font-family: Roboto;
  font-weight: 300;
  cursor: pointer;
  border: 1px solid transparent;
  transition: all 0.3s ease;
}

.dia-btn:hover {
  background: rgba(33,150,243,0.15);
  border: 1px solid #1976D2;
}

#filename {
  width: 300px;
  height: 20px;
  font-size: 17px;
  color: #37474F;
  outline: none;
  border: 2px solid #607D8B;
  position: absolute;
  top: 65px;
  padding: 2px 5px 0px 5px;
  left: calc(50% - 350px);
}

.bicon {
  margin: 3px 3px 3px 5px;
  transform: scale(0.9);
}

.effectmouse {
  width: 35px;
  height: 10px;
  background: white;
  position: fixed;
  filter: blur(10px);
  opacity: 0.5;
  display: none;
  z-index: 0;
  transition: background 0.3s ease;
}

.exiteffect {
  background: red;
  opacity: 0.85;
}
